.doodle-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

#doodleCanvas {
    background: var(--bg-color);
    border-radius: 8px;
    width: 400px;
    height: 600px;
    border: 2px solid var(--border-color);
    display: block;
    margin: 0 auto;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

@media (max-width: 420px) {
    #doodleCanvas {
        width: 100%;
        height: 80vh;
    }
    
    #doodlejump {
        touch-action: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }
}

#startDoodle {
    margin-top: 15px;
}

/* Темная тема */
[data-theme="dark"] #doodleCanvas {
    border-color: #444;
} 